
<div ng-include="'/views/admin/admin_menu.html'"></div>


Search:
<input type="text" ng-model="vm.searchAnecdotes">

<div ng-repeat="anecdote in vm.locations.allAnecdotes|filter:vm.searchAnecdotes">
    
        {{anecdote.title}}
        {{anecdote.year}}
        <div ng-bind-html="anecdote.description">{{anecdote.description}}</div>
        <div ng-if="vm.locations.currentLocationId != ''">
            <button ng-click="vm.saveAssociation(anecdote.id, 'false')">Add to location</button>
        </div>
        <button ng-click="vm.getArtifactToEdit(anecdote.id)">Edit</button>
        <button ng-click="vm.deleteArtifact(anecdote)">Delete</button>
</div>

<a href="/#!/admin/textform"><i class="material-icons">add_circle</i></a>