<div ng-include="'/views/admin/admin_menu.html'">
</div>

<div class="pageDown"></div>
<div class="adminBody">
    <div layout="row">
    <h2 class="indent">POEMS</h2>
    <a class="addArtifact" href="/#!/admin/textform">
        <i class="material-icons">add_circle</i>
    </a>
    </div>
    <md-divider></md-divider><br>
    <div class="indent">
    <i class="material-icons">search</i>
    <input ype="text" ng-model="vm.searchPoems"></div>
    <br>

<div class="indent">

    <md-content class="md-padding" layout-xs="column" layout="row">
            <div flex-xs flex layout="row">
              <md-card class="indCard" ng-repeat="poem in vm.locations.allPoems|filter:vm.searchPoems" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline textTitle">{{poem.title}}</span>
                    <span class="md-subhead">{{poem.year}}</span>
                    <span ng-bind-html="poem.description">{{poem.description}}</span>
                  </md-card-title-text>
        
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                        <div ng-if="vm.locations.currentLocationId != ''">
                                <button ng-click="vm.saveAssociation(poem.id, 'false')"><i class="material-icons">add</i></button>
                        </div>
                        <div ng-click="vm.getArtifactToEdit(poem.id)"><i class="material-icons">mode_edit</i></div>
                        <div ng-click="vm.deleteArtifact(poem)"><i class="material-icons">delete</i></div>
                </md-card-actions>
              </md-card>
            </div>
          </md-content>
</div>
</div>