<div ng-include="'/views/admin/admin_menu.html'">
</div>

<div class="pageDown"></div>
<div class="adminBody">
    <div layout="row">
    <h2 class="indent">MULTIMEDIA</h2>
    <a class="addArtifact" href="/#!/admin/multimediaform">
        <i class="material-icons">add_circle</i>
    </a>
    </div>
    <md-divider></md-divider><br>
    <div class="indent">
    <i class="material-icons">search</i>
    <input ype="text" ng-model="vm.searchMultimedia"></div>
    <br>

<div class="indent">

<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap>
        <div flex-xs flex layout="row">
          <md-card ng-repeat="multimedia in vm.locations.allMultimedia|filter:vm.searchMultimedia" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="indMultimediaCard margin">
            <md-card-title>
              <md-card-title-media >
                <div class="md-media-lg card-media">
                    <div ng-if="multimedia.type == 'photo'">
                        <img class="cardImg" src="{{multimedia.media_url}}" />
                    </div>
                    <div ng-if="multimedia.type == 'video'">
                        <iframe width="100%" height="60%" ng-src="{{vm.trustSrc(multimedia.media_url)}}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-divider></md-divider>
            <br>
              <md-card-content class="cardText" >
                <span class="md-subhead"><div ng-bind-html="multimedia.description">{{multimedia.description}}</div></span>
              </md-card-content>
            
            <md-card-actions layout="row" layout-align="end center">
                    <div ng-if="vm.locations.currentLocationId != ''">
                            <div ng-click="vm.saveAssociation(multimedia.id, 'false')"><i class="material-icons">add</i></div>
                    </div>
                    <div ng-click="vm.getArtifactToEdit(multimedia.id)"><i class="material-icons">mode_edit</i></div>
                    <div ng-click="vm.deleteArtifact(multimedia)"><i class="material-icons">delete</i></div>
            </md-card-actions>
          </md-card>
        </div>
</md-content>

</div>
</div>