all sculptures

<a onClick="javascript:history.go(-1);"><i class="material-icons">clear</i></a><br><br>
Title:
<input ng-model="vm.newSculpture.title"/><br>
Year:
<input ng-model="vm.newSculpture.year"/><br>
Artist Name:
<input ng-model="vm.newSculpture.artist_name"/><br>
Materials:
<input ng-model="vm.newSculpture.material"/><br>
Description:
<!-- <input ng-model="vm.newSculpture.description"/><br> --><br>
<text-angular ng-model="vm.newSculpture.description"></text-angular>
Extended Description:
<!-- <input ng-model="vm.newSculpture.extended_description"/><br> --><br>
<text-angular ng-model="vm.newSculpture.extended_description"></text-angular>




<button ng-if="!vm.newSculpture.editing" ng-click="vm.saveSculpture()">Add</button>
<button ng-if="vm.newSculpture.editing" ng-click="vm.editArtifact(vm.newSculpture)">Save Edit</button>
