multimedia form

<a onClick="javascript:history.go(-1);"><i class="material-icons">clear</i></a>

<button ng-click="vm.uploadnewPhoto()">Choose Photo</button>
<input ng-model="vm.newMultimedia.newVideo" placeholder="video url"/>
<!-- <button ng-click="vm.uploadNewVideo(vm.newMultimedia.newVideo)">Preview Video</button> -->
<md-button class="md-primary md-raised" ng-click="vm.openLightboxModal($index)">Preview Video</md-button>
<br>Preview:
<br>
{{vm.newMultimedia.newVideo}}
<br>

<!-- <div ng-if="vm.newMultimedia.uploaded"> -->
<!-- <div ng-include src="'/views/admin/artifacts/preview_video.html'"></div> -->
<!-- </div>  -->
<!-- <span id="vidThing">???</span> -->
<iframe width="420" height="315" ng-src="https://www.youtube.com/embed/IAFS1gwzTTs" frameborder="0" allowfullscreen></iframe>

<!-- <input ng-model="vm.newMultimedia.description" placeholder="caption" /> -->
<br>Caption: <br>
<text-angular ng-model="vm.newMultimedia.description"></text-angular>

<button ng-if="!vm.newMultimedia.editing" ng-click="vm.saveMultimedia()">Add</button>
<button ng-if="vm.newMultimedia.editing" ng-click="vm.editArtifact(vm.newMultimedia)">Save Edit</button>