<!-- <div class="redDiv"><img src="/styles/banner.png" class="banner"></div> -->
<div class="guestMenu"><a class="menuIcon" onClick="javascript:history.go(-1);"><i class="material-icons" style="font-size: 50px">clear</i></a></div>

<div class="guestBody">
    <h1>Artifact Information</h1>
<!-- <div>{{vm.information.allArtifactsForLocation[0].type}}</div>
<div>{{vm.information.allArtifactsForLocation[0].title}}</div>
<div>{{vm.information.allArtifactsForLocation[0].year}}</div>
<div>{{vm.information.allArtifactsForLocation[0].description}}</div> -->

        <div ng-repeat="artifact in vm.information.allArtifactsForLocation">
            <div>{{artifact.type}}</div>
            <div>{{artifact.title}}</div>
            <div>{{artifact.year}}</div>
            <div>{{artifact.description}}</div>
            <hr>
        </div>
    <i class="material-icons">arrow_drop_down</i>
</div>

<!-- <iframe width="560" height="315" ng-src="{{vm.trustSrc(multimedia.media_url)}}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>             -->
