<div class="banner"> CAPONI ART PARK<a href=#!menu ><i class="material-icons menuIcon" style="font-size: 50px">menu</i></a></div>

<div class="welcome"><h1>Register for Emails</h1></div>

<div class="guestBody">
    <!-- <form> -->
    <md-input-container class="indent">
    <label>Name</label>
        <input ng-model="vm.user.guest.name"/>
    </md-input-container>
    <md-input-container class="indent">
       
        <label>Email</label>
        <input ng-model="vm.user.guest.email" />
    </md-input-container><br>
   
    <md-button class="md-raised"  ng-click="vm.addGuest(vm.user.guest)">Submit</md-button>
    
    <!-- </form> -->
</div>