<div class="headerBackground"><div class="banner"> CAPONI ART PARK<a href=#!menu ><i class="material-icons menuIcon" style="font-size: 50px">menu</i></a></div></div>

<div class="welcome"><h1>Events</h1></div>

<div class="guestBody">
    <div>
        <div ng-repeat="event in vm.information.allEvents" class="event">
                <div><img class="eventPhoto" src="{{event.photo_url}}"></div>
                <div class="eventDate">{{event.date | date: short }}</div>
                <div class="eventTitle">{{event.title}}</div>
            
            <div  ng-if="vm.information.allEvents.showMore == false">
                <div class="eventDetails" ng-click="vm.information.allEvents.showMore = true">DETAILS</div>
           
            </div>

            <div ng-if="vm.information.allEvents.showMore == true">
                <div class="eventDetails" ng-click="vm.information.allEvents.showMore = false">LESS</div>
                <div>Event Details:{{event.description}}</div>
                <div>{{event.time}}</div>
                <div> Adaptable for ages {{event.age_group}},  {{event.price}}/person</div> 
            </div>
        </div>
    </div>
</div>