<div class="banner">CAPONI ART PARK<a onClick="javascript:history.go(-1);"><i class="material-icons menuIcon" style="font-size: 50px">clear</i></a></div>
<div class="menu">
    <br>
    <br>
    <hr class="hard-break">
    <br>
    <md-list-item class="md-3-line guest-menu">
        <a href="#!map">Map</a>
    </md-list-item>

    <md-list-item class="md-3-line guest-menu">
        <a href="#!events">Events</a>
    </md-list-item>

    <md-list-item class="md-3-line guest-menu">
        <a href="#!email">Register for Email List</a>
    </md-list-item>

    <md-list-item class="md-3-line guest-menu">
        <a href="#!guidelines">Guidelines</a>
    </md-list-item>

    <hr>

</div>          
