<a href=#!menu><i class="material-icons">clear</i></a>
<h1>Guest Menu</h1>


    <div>
        <ul>
            <li>
                <a href="#!guidelines">Guidelines</a>
            </li><br>
            <li>
                <a href="#!map">Map</a>
            </li><br>
            <li>
                <a href="#!events">Events</a>
            </li><br>
            <li>
                <a href="#!email">Register for Email List</a>
            </li><br>
        </ul>
    </div>



<!-- <a href="#!guidelines">Guidelines</a>
<a href="#!map">Map</a>
<a href="#!events">Events</a>
<a href="#!email">Register for Email List</a> -->