<div class="banner"><a onClick="javascript:history.go(-1);" class="menuIcon"><i class="material-icons" style="font-size: 50px">clear</i></a></div>
<div class="menu">
<h1>Menu</h1>


    <md-list-item class="md-3-line">
        <a href="#!map">Map</a>
    </md-list-item>

    <md-list-item class="md-3-line">
        <a href="#!events">Events</a>
    </md-list-item>

    <md-list-item class="md-3-line">
        <a href="#!email">Register for Email List</a>
    </md-list-item>

    <md-list-item class="md-3-line">
        <a href="#!guidelines">Guidelines</a>
    </md-list-item>

</div>          
