<div class="headerBackground">
    <div class="banner"> CAPONI ART PARK
        <a href=#!menu>
            <i class="material-icons menuIcon" style="font-size: 50px">menu</i>
        </a>
    </div>
</div>
<div class="welcome">
    <h1>WELCOME</h1>
</div>
<br>
<br>
<div class="guestBody guidelineList">
    <md-list-item ng-repeat="guideline in vm.information.guidelines">
        <div class="guideline">{{guideline.description}}
            <md-divider></md-divider>
        </div>
    </md-list-item>
</div>
<div ng-if="vm.information.mapInfo">
    <div ng-include="'views/partials/mapInfo.html'"></div>
</div>
<br>
<md-button href="/#!/map" class="md-raised button">
    <strong>MAP</strong>
</md-button>