<div class="headerBackground"><div class="banner"> CAPONI ART PARK<a href=#!menu ><i class="material-icons menuIcon" style="font-size: 50px">menu</i></a></div></div>


<div class="welcome"><h1>WELCOME</h1></div>

<div class="guestBody">
    <md-list-item ng-repeat="guideline in vm.information.guidelines">
    <div class="guideline" > {{guideline.description}}
        <md-divider></md-divider>
    </div>
    </md-list-item>

</div>
<md-button  class="md-raised button"><a href="#!map"><strong>MAP</strong></a></md-button>
