<div class="redDiv"><img src="/styles/banner.png" class="banner"></div>
<div class="guestMenu"><a href=#!menu class="menuIcon"><i class="material-icons" style="font-size: 50px">menu</i></a></div>
<div>
    <h1>Caponi Art Park Etiquette</h1>

<div ng-repeat="guideline in vm.information.guidelines">
    <div> • {{guideline.description}}</div>
</div>

<!-- <p>• Park trails are for pedestrians only.</p>
<p>• Cars and bicycles are not allowed beyond the parking lot. A bike rack is available for your use. </p>
<p>• Please help keep the park clean by using trash receptacles located throughout the park. </p>
<p>• Dogs are welcome. Please keep dogs on a leash and pick up after them to keep the park clean. </p>
<p>• Please do not climb on the moss. The moss is a part of the art and difficult to maintain. </p>
<p>• Children should be supervised at all times. Children are encouraged to touch the sculptures, however, for safety sake and to prevent damage, please do not climb on the art.</p> 
<p>• Buildings located on park property are closed to the public.</p> -->
</div>
