<!-- <div class="menuPosition">
    <a href=#!menu class="mapMenu">
        <i class="material-icons" style="font-size: 50px">menu</i>
    </a> -->
<!-- </div> -->
<div id="map-container-guest">
    <!-- <div class="map_header"> -->
        <!-- <div class="menuPosition">
            <a href=#!menu class="mapMenu">
                <i class="material-icons" style="font-size: 50px">menu</i>
            </a>
       </div> -->
    <!-- </div> -->
    <div id="map_format">
        <div id="map"></div>
    </div>

    <!-- <div class="menuPosition">
        <a href=#!menu class="mapMenu">
            <i class="material-icons" style="font-size: 50px">menu</i>
        </a>
    </div> -->
</div>
<div class="menuPosition">
    <a href=#!menu class="mapMenu">
        <i class="material-icons" style="font-size: 50px">menu</i>
    </a>
</div>
