<!-- admin menu -->
<div class="adminMenu">
    <div class="rightFloat adminMenuDiv textWhite" ng-click="vm.userService.logout()">Log Out</div>
    <div class="leftFloat adminMenuDiv"><a class="textWhite" href="/#!/admin/addlocation">Add Location</a></div>
    <div class="leftFloat adminMenuDiv"><a class="textWhite" href="/#!/admin/editlocation">Edit Location</a></div>
    <div class="leftFloat adminMenuDiv"><a class="textWhite" href="/#!/admin/manageartifacts">Manage Artifacts</a></div>
    <div class="leftFloat adminMenuDiv"><a class="textWhite" href="/#!/admin/editevents">Manage Events</a></div>
    <div class="leftFloat adminMenuDiv"><a class="textWhite" href="/#!/admin/manageusers">Manage Users</a></div>
    <div class="leftFloat adminMenuDiv"><a class="textWhite" href="/#!/admin/editguidelines">Edit Guidelines</a></div>
</div>