

<div ng-include="'/views/admin/admin_menu.html'"></div>


<div>
    <form>
        New Information:<input ng-model="vm.locations.information.newInformation.description"/>
        <!-- Category:<input ng-model="vm.locations.information.newInformation.category"/> -->
        <input type="submit" ng-click="vm.addInformation(vm.locations.information.newInformation)"/>
    </form>
</div>

<div>
    <table>
        <thread>
            <th>Information</th>
            <!-- <th>Category</th> -->
            <th></th>
            <th></th>
        </thread>
        <tbody>
            <tr ng-repeat="information in vm.locations.information">
                <td>
                    <div ng-hide="information.editing">{{information.description}}</div>
                    <input ng-show="information.editing" ng-model="information.description" ng-value="information.description"/>
                    <!-- <text-angular ng-show="information.editing" ng-value="information.description" ng-model="information.description"></text-angular> -->
                </td>
                <!-- <td>
                    <div ng-hide="information.editing">{{information.category}}</div>
                    <input ng-show="information.editing" ng-model="information.category" ng-value="information.category"/>
                </td> -->
                <td>
                    <button ng-hide="information.editing" ng-click="vm.viewEditInformation(information)">Edit</button>
                    <button ng-show="information.editing" ng-click="vm.editInformation(information)">Save</button>
                </td>
                <td>
                    <button ng-click="vm.deleteInformation(information)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>