<a href="/#!/admin/menu"><i id="backArrow" class="material-icons" style="font-size: 30px">arrow_back</i></a>
<br><br>

<h3>edit location</h3>

<hr>

<!-- search bar with ng-repeat and filter -->
Search:
<input type="text" ng-model="vm.searchLocations">
<div ng-repeat="location in vm.locations.allLocations|filter:vm.searchLocations">
    {{location.location_name}}
    <div ng-click="location.expanded=true" ng-if="!location.expanded"><i class="material-icons">expand_more</i></div>
    <div ng-click="location.expanded=false" ng-if="location.expanded"><i class="material-icons">expand_less</i></div>
    <div ng-if="location.expanded==true && location.beingEdited==false">
        {{location.title}}
        {{location.year}}
        {{location.artist_name}}
        {{location.description}}
        {{location.extended_description}}
        <button ng-click="location.beingEdited=true">Edit</button>
    </div>
    <div ng-if="location.expanded==true && location.beingEdited==true">
            <input value="location.title" />
            <input value="location.year" />
            <input value="location.artist_name" />
            <input value="location.description" />
            <input value="location.extended_description" />
    </div>
</div>