edit events
<div ng-include="'/views/admin/admin_menu.html'"></div>

<div>
    <div>
        <form>
           Event Title: <input ng-model="vm.locations.newEvent.title" placeholder="Title"/><br>
           Date: <input type="date" ng-model="vm.locations.newEvent.date" placeholder="Date" /><br>
           Time: <input type="time" ng-model="vm.locations.newEvent.time" placeholder="Time" /><br>
           Description: <input ng-model="vm.locations.newEvent.description" placeholder="Description" /><br>
           Notes: <input ng-model="vm.locations.newEvent.notes" placeholder="Notes" /><br>
           Category: <input ng-model="vm.locations.newEvent.category" placeholder="Category" /><br>
           Photo: <button ng-click="vm.uploadnewPhoto()">Choose Photo</button><br>
           Age Group: <input ng-model="vm.locations.newEvent.age_group" placeholder="Age Group" /><br>
           Price: <input ng-model="vm.locations.newEvent.price" placeholder="Price" /><br>
           <input type="submit" ng-click="vm.addEvent(vm.locations.newEvent)" value="Submit" /><br>
        </form>
    </div>

Search:
<input type="text" ng-model="vm.searchEvents">

    <div>
        <table>
            <thread>
                <th>Event Title</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Notes</th>
                <th>Category</th>
                <th>Photo</th>
                <th>Age Group</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </thread>
            <tbody>
                <tr ng-repeat="event in vm.locations.allEvents|filter:vm.searchEvents">
                    <td>
                        <div ng-hide="event.editing">{{event.title}}</div>
                        <input ng-show="event.editing" ng-model="event.title" ng-value="event.title">
                    </td>
                    <td>
                        <div ng-hide="event.editing">{{event.date | date: short}}</div>
                        <input ng-show="event.editing" ng-model="event.date" ng-value="event.date">
                    </td>
                    <td>
                        <div ng-hide="event.editing"> {{event.time}}</div>
                        <input ng-show="event.editing" ng-model="event.time" ng-value="event.time">
                    </td>
                    <td>
                        <div ng-hide="event.editing">{{event.description}}</div>
                        <input ng-show="event.editing" ng-model="event.description" ng-value="event.description">
                    </td>
                    <td>
                        <div ng-hide="event.editing">{{event.notes}}</div>
                        <input ng-show="event.editing" ng-model="event.notes" ng-value="event.notes">
                    </td>
                    <td>
                        <div ng-hide="event.editing">{{event.category}}</div>
                        <input ng-show="event.editing" ng-model="event.category" ng-value="event.category">
                    </td>
                    <td>
                        <div ng-hide="event.editing"><img src="{{event.photo_url}}" altSrc="favicon.icn"/></div>
                        <input ng-show="event.editing" ng-model="event.photo_url" ng-value="event.photo_url">
                    </td>
                    <td>
                        <div ng-hide="event.editing">{{event.age_group}}</div>
                        <input ng-show="event.editing" ng-model="event.age_group" ng-value="event.age_group">
                    </td>
                    <td>
                        <div ng-hide="event.editing">{{event.price}}</div>
                        <input ng-show="event.editing" ng-model="event.price" ng-value="event.price">
                    </td>
                    <td>
                        <button ng-hide="event.editing" ng-click="vm.viewEditEvents(event)">Edit</button>
                        <button ng-show="event.editing" ng-click="vm.editEvent(event)">Save</button>
                    </td>
                    <td>
                    <button ng-click="vm.deleteEvent(event)">Delete</button>
                    </td>
            </tbody>
        </table>
    </div>
</div>

