

<div ng-include="'/views/admin/admin_menu.html'"></div>
<div class="pageDown"></div>

<div>
    <form>
        <md-input-container class="md-block">
        <label>Guideline</label>
        <input ng-model="vm.locations.information.newInformation.description"/>
        </md-input-container>
        <!-- Category:<input ng-model="vm.locations.information.newInformation.category"/> -->
        <md-button  class="md-raised" type="submit" ng-click="vm.addInformation(vm.locations.information.newInformation)">Submit</md-button>
    </form>
</div>

<div>
    <table>
        <thread>
            <th>Information</th>
            <!-- <th>Category</th> -->
            <th></th>
            <th></th>
        </thread>
        <tbody>
            <tr ng-repeat="information in vm.locations.information">
                <td>
                    <div ng-hide="information.editing">{{information.description}}</div>
                    <input ng-show="information.editing" ng-model="information.description" ng-value="information.description"/>
                    <!-- <text-angular ng-show="information.editing" ng-value="information.description" ng-model="information.description"></text-angular> -->
                </td>
                <!-- <td>
                    <div ng-hide="information.editing">{{information.category}}</div>
                    <input ng-show="information.editing" ng-model="information.category" ng-value="information.category"/>
                </td> -->
                <td>
                    <md-button class="md-raised" ng-hide="information.editing" ng-click="vm.viewEditInformation(information)">Edit</md-button>
                    <md-button class="md-raised" ng-show="information.editing" ng-click="vm.editInformation(information)">Save</md-button>
                </td>
                <td>
                    <md-button class="md-raised" ng-click="vm.deleteInformation(information)">Delete</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>