<!-- <div ng-include="'/views/admin/admin_menu.html'"></div>
<div class="pageDown"> -->
<h1>you're on the map location page</h1>
    <!-- <md-input-container class="md-indent add-location">
        <input type="text" placeholder="Name Location" ng-model="vm.locations.newLocation.name">
    </md-input-container>
    <md-input-container>
            <label>Marker Type</labeL>
           <md-select ng-model="vm.locations.newLocation.reveal_type">
                    <md-option ng-repeat="types in vm.locations.allRevealTypes"
                    ng-value="types.type">{{ types.type }}</md-option>
            </md-select>
          </md-input-container>
    <md-button ng-click='vm.addLocation(vm.locations.newLocation)' class="md-raised md-indent">Submit Location</md-button>
    <div id="map-container-admin">
        <div id="map"></div> -->
    <!-- </div>
</div> -->