<div ng-include="'/views/admin/admin_menu.html'"></div>
<div class="pageDown"></div>
<br>
<br>
<div class="centerPage">
<div ng-if="!vm.indLocation.isBeingEdited">
        <img id="mainPhoto" class="coverPhoto" src="{{vm.indLocation.indMainPhoto.media_url}}" />
        <br>
        <br>
        <div>
                <strong>Sculpture</strong>
        </div>
        <div ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.title}}</div>
        <div ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.artist_name}}</div>
        <div ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.year}}</div>
        <div ng-bind-html="vm.indLocation.indSculpture.description" ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.description}}</div>
        <div ng-bind-html="vm.indLocation.indSculpture.extended_description" ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.extended_description}}</div>
        <br>

     
        <br>
        <div>
                <strong>Historical Photos</strong>
        </div>
        <div ng-repeat="photo in vm.indLocation.indPhotos">
                <img src="{{photo.media_url}}" height="100px" width="100px" />
        </div>
        <br>
        <div>
                <strong>Poems</strong>
        </div>
        <div ng-repeat="poem in vm.indLocation.indPoems">
                <div>{{poem.title}}</div>
                <div>{{poem.artist_name}}</div>
                <div ng-bind-html="poem.description">{{poem.description}}</div>
        </div>
        <br>
        <div>
                <strong>Writings</strong>
        </div>
        <div ng-repeat="writing in vm.indLocation.indWritings">
                <div>{{writing.title}}</div>
                <div>{{writing.artist_name}}</div>
                <div ng-bind-html="writing.description">{{writing.description}}</div>
        </div>
        <br>
        <div>
                <strong>Anecdotes</strong>
        </div>
        <div ng-repeat="anecdote in vm.indLocation.indAnecdotes">
                <div>{{anecdote.title}}</div>
                <div>{{anecdote.artist_name}}</div>
                <div ng-bind-html="anecdote.description">{{anecdote.description}}</div>
        </div>
        <br>
        <div>
                <strong>Videos</strong>
        </div>
        <div ng-repeat="video in vm.indLocation.indVideos">
                <iframe width="560" height="315" ng-src="{{vm.trustSrc(video.media_url)}}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div>Reveal Type: {{vm.indLocation.reveal_type}}</div>
        <button ng-click="vm.indLocation.isBeingEdited=true">Edit</button>

</div>

<div ng-if="vm.indLocation.isBeingEdited">
        <br><br>
        <div>
                <strong>Sculpture</strong>
        </div>
        <div>

        </div>
        <div ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.title}}</div>
        <div ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.artist_name}}</div>
        <div ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.year}}</div>
        <div ng-bind-html="vm.indLocation.indSculpture.description" ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.description}}</div>
        <div ng-bind-html="vm.indLocation.indSculpture.extended_description" ng-if="vm.indLocation.indSculpture">{{vm.indLocation.indSculpture.extended_description}}</div>
        <button ng-if="vm.indLocation.indSculpture.title" ng-click="vm.getArtifactToEdit(vm.indLocation.indSculpture.id)">Edit</button>
        <a ng-if="!vm.indLocation.indSculpture.title" href="/#!/admin/sculptures">
                <i class="material-icons">add_circle</i>
        </a>
        <br>

        <div>
                <strong>Main Photo</strong>
        </div>
        <a href="/#!/admin/multimedia">
                <button ng-click="vm.isMainPhoto.boolean = true; vm.isMainPhoto.type = 'photo'">
                        <i class="material-icons">add_circle</i>
                </button>
        </a>
        <!-- save as main_photo -->
        <div ng-if="vm.indLocation.indMainPhoto">
                <img class="coverPhoto" src="{{vm.indLocation.indMainPhoto.media_url}}" />
        </div>
        <button ng-click="vm.deleteAssociation(vm.indLocation.indMainPhoto.id)">Remove</button>
        <br>

        <div>
                <strong>Historical Photos</strong>
        </div>
        <a href="/#!/admin/multimedia">
                <button ng-click="vm.isMainPhoto.boolean = false; vm.isMainPhoto.type = 'photo'">
                <i class="material-icons">add_circle</i>
                </button>

        </a>
        <div ng-repeat="photo in vm.indLocation.indPhotos">
                <img src="{{photo.media_url}}" height="100px" width="100px" />
                <button ng-click="vm.deleteAssociation(photo.id)">Remove</button>
        </div>

        <div>
                <strong>Poems</strong>
        </div>
        <a href="/#!/admin/poems">

                <button ng-click="vm.isMainPhoto.boolean=false">
                <i class="material-icons">add_circle</i>
                </button>

        </a>
        <div ng-repeat="poem in vm.indLocation.indPoems">
                <div>{{poem.title}}</div>
                <div>{{poem.artist_name}}</div>
                <div ng-bind-html="poem.description">{{poem.description}}</div>
                <button ng-click="vm.deleteAssociation(poem.id)">Remove</button>
        </div>

        <div>
                <strong>Writings</strong>
        </div>
        <a href="/#!/admin/writings">

                <button ng-click="vm.isMainPhoto.boolean=false">
                <i class="material-icons">add_circle</i>
                </button>

        </a>
        <div ng-repeat="writing in vm.indLocation.indWritings">
                <div>{{writing.title}}</div>
                <div>{{writing.artist_name}}</div>
                <div ng-bind-html="writing.description">{{writing.description}}</div>
                <button ng-click="vm.deleteAssociation(writing.id)">Remove</button>
        </div>
        <br>

        <div>
                <strong>Anecdotes</strong>
        </div>
        <a href="/#!/admin/anecdotes">

                <button ng-click="vm.isMainPhoto.boolean=false">
                <i class="material-icons">add_circle</i>
                </button>
        </a>
        <div ng-repeat="anecdote in vm.indLocation.indAnecdotes">
                <div>{{anecdote.title}}</div>
                <div>{{anecdote.artist_name}}</div>
                <div ng-bind-html="anecdote.description">{{anecdote.description}}</div>
                <button ng-click="vm.deleteAssociation(anecdote.id)">Remove</button>
        </div>

        <div>
                <strong>Videos</strong>
        </div>
        <a href="/#!/admin/multimedia">

                <button ng-click="vm.isMainPhoto.boolean = false; vm.isMainPhoto.type = 'video'">
                <i class="material-icons">add_circle</i>
                </button>
        </a>
        <div ng-repeat="video in vm.indLocation.indVideos">
                <iframe width="560" height="315" ng-src="{{vm.trustSrc(video.media_url)}}" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                <button ng-click="vm.deleteAssociation(video.id)">Remove</button>
        </div>
<br>

        <!-- <md-select ng-model="vm.indLocation.reveal_type">
                <md-option ng-selected="vm.indLocation.reveal_type" ng-repeat="types in vm.locations.allRevealTypes"
                ng-value={{types.type}}>{{ types.type }}</md-option>
        </md-select> -->

        <select value="{{vm.indLocation.reveal_type}}" ng-model="vm.indLocation.reveal_type">
                <option value="static">Static</option>
                <option value="proximity">Proximity</option>
                <option value="bathroom">Bathroom</option>
        </select>
        
        <div ng-click="vm.indLocation.isBeingEdited = false"><button ng-click="vm.saveAssociation(vm.indLocation.reveal_type)">Save</button></div>

</div>
</div>