<div ng-include="'/views/admin/admin_menu.html'"></div>
<div class="pageDown"></div>

<div ng-include="'views/templates/register.html'"></div>
<table>
<thead>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Username</th>
<th></th>
</thead>
<tbody ng-repeat="admin in vm.locations.allAdmins">
    <td>{{admin.first_name}}</td>
    <td>{{admin.last_name}}</td>
    <td>{{admin.email}}</td>
    <td>{{admin.username}}</td>
    <td ng-if="vm.locations.allAdmins.length > 1"><button ng-click="vm.deleteAdmin(admin)">Delete Administrator</button></td>
</tbody>
</table>