<div ng-include="'/views/admin/admin_menu.html'"></div>

<div class="pageDown"></div>

<h3>All Admins</h3>
<md-divider></md-divider><br>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">
                <span>First Name</span>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                <span>Last Name</span>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                <span>Email</span>
            </th>
            <th class="mdl-data-table__cell--non-numeric">
                <span>Username</span>
            </th>
            <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
    </thead>
    <tbody ng-repeat="admin in vm.locations.allAdmins">
        <tr grid-item>
            <td class="mdl-data-table__cell--non-numeric">
                <span layout="row" layout-align="center center">{{admin.first_name}}</span>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <span layout="row"  layout-align="center center">{{admin.last_name}}</span>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <span layout="row"  layout-align="center center">{{admin.email}}</span>
            </td>
            <td class="mdl-data-table__cell--non-numeric">
                <span layout="row"  layout-align="center center">{{admin.username}}</span>
            </td>
            <td ng-if="vm.locations.allAdmins.length > 1">
                <div layout="row"  layout-align="center center" ng-click="vm.deleteAdmin(admin)"><i class="material-icons">remove_circle</i></div>
            </td>
        </tr>
    </tbody>
</table>

<div ng-include="'views/templates/register.html'"></div>  
