<div ng-include="'/views/admin/admin_menu.html'"></div>
<div class="pageDown"></div>
<form>
    <md-input-container>
        <label>Name</label>
        <input ng-model="vm.locations.newGuest.name" />
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="vm.locations.newGuest.email"/>
    </md-input-container>
    <md-button type="submit" class="md-raised" ng-click="vm.addGuest(vm.locations.newGuest)" value="Submit" >Submit</md-button>
</form>

<div>
    <table>
        <thread>
            <th>Name</th>
            <th>Email</th>
        </thread>
        <tbody>
            <tr ng-repeat="guest in vm.locations.guestList">
                <td>
                    <div>{{guest.name}}</div>
                </td>
                <td>
                    <div>{{guest.email}}</div>
                </td>
                <td>
                    <md-button class="md-raised" ng-click="vm.deleteGuest(guest)">Delete</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>