body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: white;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

/* all views */

a{
  text-decoration: none;
  color:black;
}

#backArrow{
  float: left;
}

/* add location view */

.addLocationButton{
  background-color: blue;
}

#addLocationDiv{
  background-color: lightblue;
  width: 100vh;
  height: 100vh;
}

/* modal */

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0;
}

img{
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

#map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    /* position:absolute; */
    /* width: 100%; */
}

#map-container-admin {
  height: 78%;
  width: 100%;
  position: absolute;
}

#map-container-guest {
  height: 100%;
  width: 100%;
  position: absolute;
}

.menuBardemoBasicUsage .page-container {
  padding: 32px;
}

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal;
}

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem;
}

.md-indent{
  margin-left: 5px;
  content: center;
}

.adminEventPhoto {
  height: 30%;
  width: 30%;
  border-radius: 4px;
}

.event {
  padding: 10px;
  margin-top: 20px;
}

.menuIcon{
  float:right;
}

.guestMenu {
  /* background-color: #A7C463; */
  /* background-color: #EFE32F; */
  height: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

#map {
  margin: 0;
  padding: 0;
  height: 100%;
  position:static;
  /* width: 100%; */
}

#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.redDiv {
  border-style: solid;
  border-color: red;
}

.blueDiv {
  border-style: solid;
  border-color: blue;
}

.greenDiv {
  border-style: solid;
  border-color: green;
}

.yellowDiv {
  border-style: solid;
  border-color: yellow;
}

.purpleDiv {
  border-style: solid;
  border-color: purple;
}

#map_format {
    height: 100%;
    /* margin-top: 50px; */
    padding: 0;
    z-index: 1;
    position:relative;
}

.mapMenu {
  float:right;
  color: white;
  margin-top: 15px;
}

.menuPosition {
  position: relative;
  z-index: 1000;
}

.menuBardemoBasicUsage .page-container {
  padding: 32px; }

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25); }

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

.indent{
  margin-left: 40px;
}

.extraIndent{
  margin-left: 40px;
}

.locationName{
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: larger;
}

.locationName:hover{
  color: white;
}

.searchBar{
  width: 40%;
  margin: 15px;
}

.location-list:hover{
  background-color: #548c8c;
}

.searchIcon{
  position: relative;
}

#adminMenu{
  position: fixed;
  background-color: #f6f6f6;
  opacity: 1;
  margin-bottom: 40px;
  border-bottom: 5px ridge #e9e9e9;
}

/* #menu-item{ COMMENTED OUT ON MERGE*/
/*   color: white; */
/* } */

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem;
}

.menuIcon{
  float:right;
  color: grey;
  margin-top: -10px;
  margin-right: 35px;
}

.banner {
  text-align:left;
  font-size: 25px;
  position: relative;
  text-align: center;
  top: 27px; 
  left: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu {
  font-size: 30px;
  font-weight: 800;
  padding:10px;
  
}

.guestBody {
  padding: 10px;
  font-size: 17px;
}

.welcome {
  padding: 5px;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: white;
  background-color:#365c63;
}


  .eventDate {
    font-weight: bold;
    text-transform: uppercase;
    float:right;
    color: darkgrey;
  }
  
  .eventTitle{
    text-transform: uppercase;
  }
   
  .menuIcon{
    float:right;
    color: grey;
    z-index: 2;
    margin-top: -10px;
    margin-right: 35px;
  }
  
  .banner {
    text-align:left;
    font-size: 25px;
    position: fixed;
    text-align: center;
    top: 25px; 
    left: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    /* background-color: orange; */
  }

  .headerBackground{
    width:100%;
    height: 80px;
    background-color:white;
    position: fixed;
    top:0;
    opacity: 40%;
  }

  .menu {
    font-size: 30px;
    font-weight: 800;
    padding:10px;
    
  }

  .guestBody {
    padding: 10px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .welcome {
    padding: 5px;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
    background-color:#365c63;
  }
  
  .button{
    text-align:center;
    width: 95%;
    margin-top: 20px;
    font-weight: bold;
  }

.is-active{
  background-color: #e9e9e9;
}

.marginTop {
  margin-top: 25px;
}

.eventPhoto {
  height: 200px;
  width: 100%;
  border-radius: 4px;
  margin: auto;
}

.redDiv {
  /* border-style: solid; */
  /* border-color:red; */
  margin: 0;
  height: 90px;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

.pageDown{
  padding-top: 80px;
}

.coverPhoto{
  object-fit: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  top: 0px;
  width: 50%;
  height: 250px;
  transform: translateY(10px);
  z-index: 1;
  position: relative;
}

.fixed{
  position: fixed;
}

.leftFloat {
  float: left;
}

.rightFloat {
  float: right;
}

.add-location{
  /* padding-top: 30px; */
  margin-top: 30px;
  margin-bottom: 0px;
}
  
.hard-break{
  margin-top: -1px;
}

.guest-menu{
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}

.guest-menu:active{
  color: gray;
}

.banner {
  text-align:left;
  font-size: 25px;
  position: fixed;
  text-align: center;
  top: 27px;
  left: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 10px;
  width: 100%;
  margin: 0;
}

.menuIcon{
  float:right;
  color:grey;
  margin-top: -10px;
  margin-right: 30px;
}

.indLocationGuestBody{
  margin-top: 70px;
}

.mainPhotoGuest{
  width: 100%;
  height: 200px;
}

.sculptureGuest{
  text-align: center;
  margin-top: 13px;
}

.moreInfo{
  text-align: center;
}

.eventDetails{
  text-align: center;
  font-size:10px;
  color: grey;
  text-decoration: underline;
}

 .email {
    padding: 10px;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
  }

  .emailButton {
    float: right;
  }
  
.headerLine{
  margin-top: 80px;
}

.headerBackground{
  width:100%;
  height: 80px;
  background-color: white;
  position: fixed;
  top:0;
  z-index: 99;
}

.artifactTitle{
    text-transform: uppercase;
}

.sculptureInfo{
    font-size: 20px;
}

#description_picture{
  opacity: 0.3;
  float: center;
  border-style: groove;
  border-color:#afbdd4;
  border-width: 0.5px;
  height: 200px;
  width: 100%;
}

#picture{
  width: 100%;
  height: 200px;
}

#image_description{
  height: 200px;
  text-align: center;
  margin-top: -220px;
  font-size: 20px;
  font-family:  'Lucida Grande', 'sans-serif';
  color: black;
  text-shadow: 0.5px 0.5px 1px  #3b5998;
  vertical-align: middle;
}
.centerPage{
  float: center;
}

#xbutton{
  float: right;
  vertical-align: top;
  width: 8px;
  height:8px;
  transform: translateY(-20px);
}

#slash{
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  background-color: rgb(162, 196, 99);
  margin-bottom: -10px;
  /* padding-right: 15px; */
}

/* .plus_icon{
    vertical-align: middle;
    margin-top: 111px;
} */

.material-icons{
  vertical-align: middle;
} 

.adminBody {
  padding: 10px;
  font-size: 17px;
  font-family:  'Lucida Grande', 'sans-serif';
}

.hover:hover{
  color: black;
  background: whitesmoke;
  transition: background 500ms;
}

.subNavPadding{
  /* margin-right:20px; */
  background: white;
  text-align: left;
  vertical-align: middle;
  content: center;
}

.changeMainPhoto{
  /* margin-right: 240px; */
  position: relative;
  transform: translateY(15px);
}

#removeButton{
  position: relative;
  transform: translateY(15px);
}

#editSculpture{
  margin-left: 10px;
}

.add{
  margin-left: 10px;
}

.minus{
  position: relative;
}

.short{
  width: 60%;
}

.markerType {
  margin-top: 23px;
}

td{
  border-bottom: 1px solid #e9e9e9; 
  padding: 10px;
}