body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

/* all views */

a{
  text-decoration: none;
  color:black;
}

#backArrow{
  float: left;
}

/* add location view */

.addLocationButton{
  background-color: blue;
}

#addLocationDiv{
  background-color: lightblue;
  width: 100vh;
  height: 100vh;
}

/* modal */

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }

  /* end modal */
/* 
  img{
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
  } */

  #map {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
  }

  #map-container {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .menuBardemoBasicUsage .page-container {
    padding: 32px; }
  
  .menuBardemoBasicUsage .page {
    margin: 0 auto;
    padding: 24px;
    max-width: 680px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25); }
  
  .menuBardemoBasicUsage .page h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 0;
    font-weight: normal; }
  
  .menuBardemoBasicUsage .page p {
    line-height: 1.6rem; }

  .is-active{
    background-color: #548c8c;
  }

  .md-indent{
    margin-left: 20px;
  }

  /* not working */
  .subNav{
    max-width: 50%;
  }

  .eventPhoto {
    width: 20%;
    height: 20%;
    border-radius: 20px;
    float: right;
  }

  .event {
    padding: 10px;
    margin-top: 20px;
  }

  .menuIcon{
    float:right;
  }

  .guestMenu {
    /* background-color: #A7C463; */
    /* background-color: #EFE32F; */
    height: 20px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .banner {
    height: 90px;
    width: 100%;
  }

#map {

    margin: 0;
    padding: 0;
    height: 100%;
    /* width: 100%; */
}

#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.redDiv {
  border-style: solid;
  border-color: red;
}

.blueDiv {
  border-style: solid;
  border-color: blue;
}

.greenDiv {
  border-style: solid;
  border-color: green;
}

.yellowDiv {
  border-style: solid;
  border-color: yellow;
}

.purpleDiv {
  border-style: solid;
  border-color: purple;
}
#map_format {
    height: 100%;
    margin: 0;
    padding: 0;
}

.menuBardemoBasicUsage .page-container {
  padding: 32px; }

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25); }

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }

  .navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; 
  }

  .indent{
    margin-left: 40px;
  }

  .extraIndent{
    margin-left: 40px;
  }

  .locationName{
    padding: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: larger;
  }

  .searchBar{
    width: 40%;
  }

  .location-list:hover{
    background-color: #548c8c;
  }

  .searchIcon{
    position: relative;
    transform: translateY(10px);
  }

  #mainPhoto{
    width: 100%;
    height: 250px;
    transform: translateY(16px);
  }

  #adminMenu{
    position: fixed;
    background-color: darkslategrey;
    opacity: .85;
  }

  #menu-item{
    color: white;
  }

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem; }

.is-active{
  background-color: gainsboro;
}

.md-indent{
  margin-left: 20px;
}

/* not working */
.subNav{
  max-width: 50%;
}

.eventPhoto {
  width: 20%;
  height: 20%;
  border-radius: 20px;
  float: right;
}

.event {
  padding: 10px;
  margin-top: 20px;
}

.menuIcon{
  float:right;
}

.guestMenu {
  /* background-color: #A7C463; */
  /* background-color: #EFE32F; */
  height: 20px;
  margin-top: 0px;
  padding-top: 0px;
}

.banner {
  height: 90px;
  width: 100%;
  margin: 0;
}

.redDiv {
  /* border-style: solid; */
  /* border-color:red; */
  margin: 0;
  height: 90px;
}

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}

